**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/.git
**/.gitignore
**/Thumbs.db
**/.DS_Store
**/docker-compose*.yml
**/nginx.conf
**/setup_vps.sh
**/deploy.sh
**/*.md
**/docs
**/.github
**/RAG-Retrieval-Indexing-API
**/RagChatbotSystem.Tests
